a {
  text-decoration: none;
  color: black;
}

.home {
  width: 1050px;
  margin: 0 auto;
  padding-top: 14px;
  /*border: 1px solid red;*/
}

.home-sidemenu {
  width: 21%;
 vertical-align: top;
  border-right: 3px dashed black;
  padding-right: 30px;
  /*margin-right: 15px;*/
  display: inline-block;
}

.sidemenu-link {
  text-align: center;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
}

.link-decoration {
  text-decoration: none;
  color: black;
}

.link-special {
  border-bottom: 2px dotted black;
}

.home-elements {
  width: 74%;
  display: inline-block;
  margin-left: 19px; 
  vertical-align: top;
  /*border: 2px solid violet;*/
}

.home-slidebox {
  margin-left: -1px;
  width: 100%;
  height: 320px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
  border-bottom: 3px dashed black;
}

.slidebox-image {
  width: 100%;
  height: 320px;
  -webkit-animation-name: image;
  -webkit-animation-duration: 1.5s;
  animation-name: image;
  animation-duration: 1.5s;
}

@-webkit-keyframes image{
  from{opacity:.4}
  to{opacity: 1}
}
@keyframes image{
  from{opacity:.4}
  to{opacity: 1}
}

.arrow-left-image, .arrow-right-image {
  display: inline-block;
  background-size: cover;
  position: absolute;
  top: 50%;
  width: 35px;
  height: 40px;

  margin-top: -22px;
  cursor: pointer;
}

.arrow-left-image {
  background-image: url("../images/icons/left-arrow.png");
  left: 0;
}

.arrow-right-image {
  background-image: url("../images/icons/right-arrow.png");
  right: 0;
}


.elements-sidemenu {
  margin-left: 20px; 
  width: 240px;
  display: inline-block;
  text-align: center;
  border-left: 3px dashed black;
}

.home-title{
  width: 99%;
  vertical-align: top;
 /* display: inline-block;*/
  text-align: center;
 /* border: 1px solid black;*/
 border-bottom: 3px dashed black;
}

.title-title {
  font-weight: 500;
}

.title-subtitle {
  font-style: italic;
  font-weight: lighter;
}

.sidemenu-calendar {
  width: 200px;
  margin: 0 auto;
  height: 200px;
  border: 1px solid black;
}

.sidemenu-linkBlock {
  margin: 15px auto 0 auto;
  width: 200px;
  height: 26px;
  border: 1px solid black;
}

.elements-some {
  padding-bottom: 20px;
  /*border-bottom: 1px dashed black;*/
}

.home-news {
  vertical-align: top;
  margin-top: 15px;
  width: 99%;
  height: 1000px; 
  border: 1px solid black;
}

.title-news {
  vertical-align: top;
 /* border: 1px solid black;*/
  display: inline-block;
  width: 66%;
}

.elements-socialLinks {
  padding-bottom: 20px;
  border-bottom: 1px dashed black; 
}
.socialLink{
  text-align: center;
  margin: 15px  auto 0 auto;
  width: 200px;
  height: 80px;
  border: 1px solid black;
  font-style: italic;
}

.socialLink-button {
  width: 120px;
}

/*.socialLink-link {
  text-decoration: none;
  color: black;
}*/

.elements-LastMaterials {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin: 15px  auto 0 auto;
}

.lastMaterials-title {
  margin: 0 auto;
  margin-top: 40px;
}

/*.lastMaterial-link {
  text-decoration: none;
}*/